<footer>
    <div class="f-info">
        <div class="f-inf0-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        </div>
        <div > &copy;Trip-Stay Private Limited</div>
          <style>
            .f-tools{
                text-decoration: none;
            }
            a{
                color: black;
            }
        </style>
        <div class="f-info-links">
            <a class="aa" href="/privacy">Privacy</a>
            <a  class="aa" href="/terms">Terms</a>
            <a class="aa" href="/">Sitemap</a>
        </div>
    </div>
</footer>