body {
    font-family: "Plus jakarta Sans",sans-serif!important;
}
.navber{
    height: 5rem;
    background-color: white;
}
.fa-location-arrow{
   color: #fe424d; 
   font-size: 2rem;

}

.nav-link{
    color:#222222;
}
/*footer*/

.f-info-links a{
    text-decoration: none;
    color:#222222;
     margin-left: 2rem;

}
    
.f-info-links a:hover{
text-decoration: underline;
}
    
.f-info-socials{
     width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
} 



    

f-info-socials i{
       font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;
}
/* Cards */

.listing-card{
    border: none !important;
    margin-bottom:2rem !important ;
}


.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text-title{
    font-weight: 700 !important;
}
.card-link{
    text-decoration: none;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Show pages */

.show-img{
    height: 30vh;
}

.font-title{
    font-size: 1.2rem;
}

.btns{
    display: flex;
}

.image-ratio{
    height: 200px;
    width: 250px;
}

/* MAp */

#map{
    height: 400px;
    width: 80vh;
}